div.content {
    overflow-y: auto;

    div.container {
        padding: 0 10px;
        
        div.row {
            margin-bottom: 16px;

            div.torneio-completo {
                color: #03a87c;
            }
        }

        div.card-filme {
            margin-bottom: 10px;
        }
    }
}

.message {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 24px !important;
    font-weight: 500;
}
