<ng-template #blockTemplate>
    <div class="block-ui-spinner mat-typography">
        <div class="loader"></div>
        <div class="message"> Aguarde...</div>
    </div>
</ng-template>

<block-ui [template]="blockTemplate">
    <div class="content">
        <app-descricao-pagina [titulo]="titulo" [descricao]="descricao">
        </app-descricao-pagina>

        <div class="container" *ngIf="grupoDeFilmes != null">
            <div fxLayout="row" class="row">
                <div fxFlex="50" class="mat-typography">
                    <div><b>Selecionados:</b></div>
                    <div [class.torneio-completo]="filmesParticipantes.length === maximoParticipantes">
                        <b>{{filmesParticipantes.length}} de {{maximoParticipantes}} filmes</b>
                    </div>
                </div>
                <div fxFlex="50" style="text-align: right">
                    <button id="gerarCampeonato" mat-raised-button color="primary" [disabled]="filmesParticipantes.length !== maximoParticipantes"
                        (click)="gerarCampeonato()">GERAR MEU CAMPEONATO</button>
                </div>
            </div>

            <div *ngFor="let grupoFilme of grupoDeFilmes.linhas" fxLayout.xs="column" fxLayout.sm="column"
                fxLayout.md="column" fxLayoutGap="10px">
                <div class="card-filme" *ngFor="let filme of grupoFilme" fxFlex="25">
                    <app-seletor-filme [filme]="filme" (selecionarFilme)="onSelecionarFilme($event)"></app-seletor-filme>
                </div>
            </div>
        </div>
    </div>
</block-ui>