ul {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    font-size: 2em !important;
}

li {
    position: relative;
    background-color: #FFF;
    margin: .2em;
    padding: .3em 0;
    height: 2em;
}

span.badge {
    display: inline-block;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #3f51b5;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -10px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
}